header{
    display:flex;
    justify-content: end;
    position: relative;
    top: auto;
}

header h1{
    font-size: 60px;
}

header p{
    font-size: 30px;
}
.container-nav{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    overflow-y: auto;
    background-color: aqua;
}

.content {
    margin-left: 250px;
}

ul{
    list-style: none;
    background-color: blue;
    width: 150px;
    padding: 0px;
    margin: 0px;
}

li a{
    display: block;
    color: blue;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

/* N: Para que cambie al pasar el mouse */
li a:hover{
    color: aliceblue;
    background-color: black;
    
}

.front-page {
    
    background-color: blueviolet;
    flex-grow: 1;
    min-height: 100vh;
    bottom: 0;
    top: 0;
    width: 1fr;
    background: linear-gradient(to bottom, rgb(141, 169, 255), transparent);
    z-index: 1;
}

.title-txt {
    align-content: center;
    justify-self: end;
    width: 80vh;
    height: 100vh;
    background-color: coral;
}

.title-txt h1{
    font-size: 100px;
}

.title-txt p{
    line-height: 0px;
    font-size: 50px;
}

.container{
    background-color: brown;
}

.info {
    background-color: cadetblue;
}

.inf-card{
    background-color: chartreuse;
}

.f-card{
    background-color: chocolate;
}

.m-inf{
    background-color: cornflowerblue;
}

.c-card{
    background-color: darkcyan;
}

.help{
    background-color: deeppink;
}

.help-inf{
    background-color: darksalmon;
}

footer{
    background-color: gold;
}